@import "tailwindcss";

@reference "../globals.css";

.block-separator {
    @apply w-2/5 text-(--text-colour) dark:text-(--text-colour-dark) m-auto mt-1 mb-1;
}

.sidebar-block {
    @apply p-3;
}

.sidebar-block > p {
    @apply w-3/4;
    margin: 0 auto;
}

.sidebar-block > *:not(:last-child) {
    @apply text-center !mb-3;
}

.sidebar-block .button {
    @apply border-2 rounded-xl p-2 block w-[35%] text-center;
    margin: 0 auto;
}

.sidebar-block .button:hover {
    text-decoration: none;
}

.sidebar-block button {
    @apply cursor-pointer;
}

.sidebar-block .button span {
    @apply ml-1;
}

.discord {
    @apply dark:bg-(--discord-colour);
}

.discord:hover {
    @apply bg-(--discord-colour) text-(--main-colour) border-(--text-colour) dark:text-(--discord-colour) dark:border-(--text-colour-dark) dark:bg-(--text-colour-dark);
}

.instagram {
    @apply dark:bg-(--instagram-colour);
}

.instagram:hover {
    @apply bg-(--instagram-colour) text-(--main-colour) border-(--text-colour) dark:text-(--instagram-colour) dark:border-(--text-colour-dark) dark:bg-(--text-colour-dark);
}

.twitter {
    @apply dark:bg-(--twitter-colour);
}

.twitter:hover {
    @apply bg-(--twitter-colour) text-(--main-colour) border-(--text-colour) dark:text-(--twitter-colour) dark:border-(--text-colour-dark) dark:bg-(--text-colour-dark);
}

.kofi {
    @apply dark:bg-(--kofi-colour);
}

.kofi:hover {
    @apply bg-(--kofi-colour) text-(--main-colour) border-(--text-colour) dark:text-(--kofi-colour) dark:border-(--text-colour-dark) dark:bg-(--text-colour-dark);
}