@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-noto-serif: var(--font-noto-serif);
    --font-shippori-mincho: var(--font-shippori-mincho);
    --font-nunito: var(--font-nunito);

    --main-colour: #f2ece2;
    --main-colour-dark: #121212;

    --text-colour: #292929;
    --text-colour-dark: #f1f1f1;
}